.App {
  font-size: 15px;
  text-align: center;
  font-weight: 550;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-tilte {
  width: 95%;
  padding: 20px;
  margin: 0 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border: 0.5px solid #000000 !important;
  
  font-weight: 700;
}

.form-img {
  margin: 20px 0;
}

.img-ico {
  width: 100px;
  height: 100px;
}

.form-header {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 30px 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border: 0.5px solid #000000;
  padding: 20px;
}

.form-column {
  margin: 10px;
  width: 45%;
  border: solid 1px #c7c7c7;
  padding: 20px 60px;
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border-radius: 10px;
}

.input-type {
  height: 40px;
  margin: auto;
}
.button-type {
  margin: auto;
  font-weight: 600;
}
.column-1 {
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  border: solid 1px #c7c7c7;
  text-align: center;
  justify-content: center;
}
.column-2 {
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  border: solid 1px #c7c7c7;
  margin-left: 10px;
}

.content-form {
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 30%;
  font-size: 27px;
  font-weight: 500;
}

.content-right {
  width: 70%;
  margin: auto;

}

.rule {
  background-color:#99FFFF;
  height: 30px;
  margin: auto;
}

.rule2 {
  background-color:#FF6666;
  height: 30px;
  margin: auto;
}

.content-title {
  margin: 40px 0px;
}

.footer {
  font-size: 20px;
  display: flex;
  width: 100%;
}

.footer-child {
  width: 24%;
  /* padding: 20px 60px; */
  box-shadow: 0px 0px 8px rgba(0, 0, 16, 0.16);
  border-radius: 10px;
}